name: simrail-tools-backend
services:
  postgres:
    image: docker.io/postgres:18-trixie
    restart: unless-stopped
    shm_size: 128mb
    ports:
      - "127.0.0.1:51800:5432"
    volumes:
      - "./volumes/postgres-data:/var/lib/postgresql"
    command: >
      -c synchronous_commit=off
      -c logging_collector=on
      -c log_destination=stderr
      -c log_min_duration_statement=5s
    environment:
      POSTGRES_USER: "stb"
      POSTGRES_PASSWORD: "stb_very_secu1e_passw0rd"
      POSTGRES_DB: "simrailtools"

  valkey:
    image: docker.io/valkey/valkey:9-trixie
    restart: unless-stopped
    ports:
      - "127.0.0.1:51801:6379"
    volumes:
      - "./volumes/valkey-data:/data"
    command: >
      valkey-server
      --appendonly yes
      --appendfsync everysec
      --protected-mode yes
      --user default on \>stb_very_secu1e_passw0rd allkeys +@all
      --user stb on \>stb_very_secu1e_passw0rd allkeys +@all -@admin -@dangerous -@pubsub -@internal

  nats:
    image: docker.io/nats:2-scratch
    restart: unless-stopped
    ports:
      - "127.0.0.1:51802:4222"
      - "127.0.0.1:51803:9222"
    volumes:
      - "./conf/nats.conf:/etc/nats/nats.conf:ro"
    command: >
      -config /etc/nats/nats.conf

  prometheus:
    image: docker.io/prom/prometheus:latest
    restart: unless-stopped
    ports:
      - "127.0.0.1:51810:9090"
    volumes:
      - "./volumes/prometheus-data:/prometheus"
      - "./conf/prometheus.yml:/etc/prometheus/prometheus.yml:ro"

  grafana:
    image: docker.io/grafana/grafana-oss:latest
    restart: unless-stopped
    depends_on:
      - prometheus
    ports:
      - "127.0.0.1:51811:3000"
    environment:
      GF_SECURITY_ADMIN_USER: "stb"
      GF_SECURITY_ADMIN_PASSWORD: "stb_very_secu1e_passw0rd"
    volumes:
      - "./volumes/grafana-data:/var/lib/grafana"
      - "./conf/grafana/dashboards:/etc/grafana/dashboards"
      - "./conf/grafana/provisioning:/etc/grafana/provisioning"
